body{
    margin: 0px;
    padding: 0px;
}

span {
    font-style: italic;
}

/* Контент */
.list-conteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
}

.list-conteiner>p {
    text-align: center;
    font-weight: bold;
}

.img-conteiner{
    float: right;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    margin-left: 10px;
}

.img-conteiner>div{
display: flex;
flex-direction: column;
align-items: center;
}

.logo-html{
    max-width: 70px;
    
}

/* Верхняя навигационная панель */
.nav-conteiner{
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 186, 251);
}

.nav-conteiner>nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav-conteiner>nav>ul>li>a{
display: block;
padding: 10px;
border-style: solid;
border-width: 0.5px;
}